#navbarNav {
	justify-content: flex-end;
}

#menu-list li {
	display: inline-block;
	border-radius: 5px;
	transition: .7s ease;
}

#menu-list li:nth-of-type(odd):hover {
	transform: scale(.9);
	background: #F8F9FA;
}

#menu-list li.active:hover {
	transform: scale(1.0);
	background: #F2F708;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.active {
	background: #a3a54b8a;
}

#banner {
    background: linear-gradient(#00000061,#00000061), url(../img/home/banner1.png);
    background-size: cover;
}

.banner-des {
	color: white;
}

.banner-des h2 {
    margin: 100px 0 25px 0;
    font-size: 55px;
    background: #00000042;
    padding-left: 15px;
}

.banner-des p {
	margin: 10px 0 55px 0;
}

hr {
    margin: 5rem 0 3rem;
    border: 1px solid white;
    width: 20px;
}

.btn {
	margin: 0 0 5rem 0;
}

#about {
	background: #F6F6F6;
}

.about-left {
    margin: 7rem 0 5rem 0;
}

.about-left h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.about-left hr {
    margin: 2rem 0 3rem;
    border: 1px solid black;
    width: 20px;
}

.about-right {
	position: relative;
}

.homepage {
	position: absolute;
	height: 425px;
	top: 130px;
	left: -110px;
}

.car {
	position: absolute;
	top: 190px;
	left: 245px;
	height: 150px;
}

#another {
	background: #28282E;
}

.another-left {
	margin: 5rem 0 0 0;
}

.another-left h2 {
	color: white;
	font-size: 3.2rem;
	text-transform: uppercase;
}

.another-left hr {
    margin: 2rem 0 5rem;
    border: 1px solid white;
    width: 20px;
}

.another-left p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0 8rem 3rem 0;
    color: white;
}

.another-right {
	position: relative;
}

.another-right img {
	position: absolute;
	height: 120px;
	top: 250px;
	left: -80px;
}

footer {
	background: #ef4035;
	text-align: center;
	padding: 1rem 0;
	color: white;
	vertical-align: center;
}*/

@media (max-width: 500px) {

	.navbar {
		padding-left: 1rem;
		padding-right: 1rem; 
	}
	.navbar-light .navbar-brand {
	    width: 85%;
	    margin: 0;
	}
	.navbar-light .navbar-brand img {
    	width: 95%;
    	margin: 0;
	}
	.navbar-light .navbar-toggler {
    	width: 15%;
	    padding: 2px 0px;
	}
	.navbar-light .navbar-toggler-icon {
    	width: 100%;
	    padding: 0;
	}
	#navbarNav ul li:nth-of-type(odd) {
		padding-left: 1rem; 
	}
	#navbarNav ul li:nth-of-type(even) {
		display: none;
	}

	.navbar-toggler {
		color: white;
	}

}
/*
@media (min-width: 501px) and (max-width: 768px)

	.navbar-brand {
		width: 80%;
	}

}
